:root {
  --space: 2rem;
  --space-xs: calc(var(--space) / 3);
  --space-sm: calc(var(--space) / 2);
  --space-md: calc(var(--space) * 2);

  --color-primary: lightgray;
  --color-accent: whitesmoke;
  --color-dark: black;
  --color-mid: gray;
  --color-light: white;
  --color-highlight: dodgerblue;

  --radius: 0.125rem;
}

/*----------------------
  Index Timeline
----------------------- */
* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.article {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 40%;
}

.sidebar {
  --offset: var(--space);
  flex-grow: 1;
  flex-basis: 300px;
  align-self: start;
  position: -webkit-sticky;
  position: sticky;
  top: var(--offset);
}

.component {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.component .content {
  max-height: 800px;
  overflow-y: auto;
}

.sidebar .component {
  max-height: calc(100vh - var(--offset) * 2);
}


/***** Timeline *****/
.block-content {
  min-height: 100vh;
}

.l-block-spacing {
  min-height: 80vh;
  padding: 2em 0 0 0;
}

.l-contained {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
}
@media all and (min-width: 40em) {
  .l-contained {
    padding-left: 2em;
  }
}
ul{
     list-style:none;
}

.timeline-list {
  padding-bottom: 1em;
  position: relative;
  max-width: 700px;
  /* margin: 0 auto; */
  margin-left: 40px;
}
.timeline-list:before {
  content: "";
  border-left: 5px dotted #ce202e;
  left: -0.60em;
  top: 2em;
  height: 88.6%;
  position: absolute;
  bottom: 0;
  top: 0;
  transform-origin: 0 0;
  -webkit-animation: scaleVertical 3s 1s ease both 1;
          animation: scaleVertical 3s 1s ease both 1;
}
.t-block-teal h2 {
  color: #fff;
}

.t-block-teal h3 {
  margin-top: 1em;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding: 0 0 0 70px;
}

.t-block-teal p {
  margin-top: 1em;
  padding: 0 0 0 70px;
  color: #535353;
  text-indent: 25px;
}

.timeline-button{
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  float: right;
  margin-top: 10px;
}

.timeline-list li.firstitem{
  height: 320px;
}
.timeline-list li.passline{
  position: relative;
  margin: 0 auto;
  left: -10px;
  padding-bottom: 40px;
  list-style-type: none;
  border-left: 6px solid #ce202e;
}

.timeline-list li {
  margin: 0 0 3em 0;
  padding: 0 2em 0em 2em;
  position: relative;
}

.timeline-list ul {
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0;
}

.timeline-list li {
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
}

.timeline-list li.arrow:before {
  content: url("../images/arrow.png");
  position: absolute;
  top: -1.2em;
  left: -1.7em;
}

.timeline-list li.lock:before {
  content: url("../images/lock.png");
  position: absolute;
  width: 60px !important;
  height: 60px !important;
  top: -1.2em;
  left: -2em;
}

.timeline-list li.pass:before {
  content: url("../images/pass.png");
  position: absolute;
  width: 40px !important;
  height: 40px !important;
  top: -1.2em;
  left: -1.8em;
}

/*----------------------
  Reward Timeline
----------------------- */
.timeline {
  color: #fff;
}
.timeline h1,
.timeline ul li .content h2 {
  text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
}
.timeline h1 {
  background: #3d9e67;
  padding: 70px 0;
  font-size: 2.5em;
  text-align: center;
}
.timeline ul {
  padding: 40px 0;
}
.timeline ul li {
  position: relative;
  margin: 0 auto;
  width: 5px;
  padding-bottom: 40px;
  list-style-type: none;
  border-left: 5px dotted #ce202e;
}

.timeline ul li:last-child {
  padding-bottom: 7px;
}
.timeline li.lock:before {
    content: url(../images/lock.png);
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    top: -1.2em;
    left: -1.6em;
}
.timeline li.pass:before {
    content: url(../images/pass.png);
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    top: -1.2em;
    left: -1.6em;
}
.timeline .passline{
  position: relative;
  margin: 0 auto;
  width: 5px;
  padding-bottom: 40px;
  list-style-type: none;
  border-left: 5px solid #ce202e;
}
.timeline li.arrow:before {
    /* content: "\f0ab";
    font-family: FontAwesome;
    position: absolute;
    top: -1.2em;
    left: -0.5em;
    font-size: 40px;
    color: #ce202e; */
    content: url("../images/arrow.png");
    position: absolute;
    top: -1.2em;
    left: -1.7em;
}

.timeline li.arrow:after {
    display: none;
}

.timeline li.none:before {
    display: none;
}

.timeline li.none:after {
    display: none;
}

.timeline li.border-none{
  border: none;
  left: 5px;
}
.timeline ul li .hidden {
  opacity: 0;
}
.timeline ul li .content {
  position: relative;
  top: -10em;
  width: 450px;
  padding: 20px;
}
.timeline ul li .content h2 {
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
}
.timeline ul li .content p {
  text-align: center;
}
.timeline ul li:nth-child(odd) .content {
  left: 60px;
}
.timeline ul li:nth-child(odd) .content:before {
  left: -38px;
}
.timeline ul li:nth-child(even) .content {
  left: calc(-510px - 45px);
}
.timeline ul li:nth-child(even) .content:before {
  right: -38px;
}

/*==========  Stem  ==========*/
.stem-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 50%;
}

.stem-wrapper .stem,
.stem-wrapper .stem-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 5px;
}
.stem-wrapper .stem {
  background: #1e4f56;
  height: 100%;
}
.stem-wrapper .stem-background {
  background: #ce202e;
  height: 20%;
  left: -3px;
  transition-duration: 0.5s;
}

/* -------------------------
   ----- Media Queries -----
   ------------------------- */
@media screen and (max-width: 1020px) {
  .timeline ul li .content {
    width: 41vw;
  }

  .timeline ul li:nth-child(even) .content {
    left: calc(-44vw - 45px);
  }
}
/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .timeline_tb_mg{
    margin: 0 !important;
  }
  .timeline-list li.passline {
    left: -9.6px !important;
  }
  .timeline-list:before {
    height: 89%;
  }
}
/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .timeline ul li {
    padding-bottom: 80px !important;
  }
  .timeline-list:before {
    height: 88%;
  }
  .level_reward_img {
    padding: 0 0 0 40px;
  }
  .t-block-teal h3 {
    margin-top: 0;
    padding: 0 0 0 40px;
  }
  .t-block-teal p {
    padding: 0 0 0 40px;
    text-indent: 25px;
  }
  .timeline-list li.passline {
    left: -9.7px !important;
  }
  .timeline ul li:last-child{
    margin-bottom: -15em;
  }
  .timeline ul li:nth-child(odd) .content {
    left: 100px;
  }
  .timeline-button {
    margin-top: 10px;
  }
  .timeline ul li:nth-child(even) .content {
    left: 100px;
  }
  .timeline ul {
    margin-left: -36em;
  }
  .timeline ul li .content {
    width: 60vw;
  }
  .timeline-list li.firstitem {
    height: 380px;
  }
}

@media screen and (max-width: 767px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li .content {
    width: calc(100vw - 100px);
  }
  .timeline ul li .content h2 {
    text-align: initial;
  }
  .timeline ul li:nth-child(even) .content {
    left: 0;
  }
  .timeline ul li:nth-child(even) .content:before {
    left: -33px;
  }
  .timeline {
    padding-left: 20px;
  }
  .timeline ul li {
    margin-left: 0px;
  }
}

/* Wide Mobile = 480px */
@media only screen and (max-width: 767px) {
  .timeline-list:before {
    height: 92%;
  }
  .timeline .passline{
    margin: 0;
  }
  .timeline ul li:nth-child(even) .content {
    left: 60px;
  }
  .timeline ul li .content {
    width: calc(80vw - 80px);
  }
  .timeline ul li:last-child {
    height: 350px;
  }
  .timeline-list li.arrow:before {
    content: url("../images/arrow-mb.png");
    position: absolute;
    top: -1.2em;
    left: -1.3em;
  }
  .timeline ul li .content {
    top: -9em;
  }
  .timeline-list li.lock:before {
    content: url("../images/lock-mb.png");
    position: absolute;
    width: 60px !important;
    height: 60px !important;
    top: -1.2em;
    left: -1.5em;
  }

  .timeline-list li.pass:before {
    content: url("../images/pass-mb.png");
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    top: -1.2em;
    left: -1.3em;
  }
}

/* Small Device = 320px */
@media only screen and (max-width: 479px) {
  .timeline-list {
    margin: 0 auto;
  }
  .timeline-list li.passline{
    left: -9.8px;
  }
  .timeline ul li:nth-child(odd) .content {
    left: 0;
  }
  .timeline-list:before{
    height: 89%;
  }
  .t-block-teal p{
    padding: 0 0 0 30px;
    text-indent: 25px;
  }
  .t-block-teal h3 {
    padding: 0;
  }
  .timeline ul li:nth-child(even) .content {
    left: 0;
  }
  .timeline .passline{
    margin: 0;
  }
  .timeline ul li .content {
    width: calc(110vw - 110px);
  }
  .timeline li.border-none{
    left: -15px;
  }
  .timeline ul li:last-child {
    height: 250px;
    margin-left: 20px;
  }
  .timeline ul li {
    margin-left: 0px;
  }
  .l-block-spacing {
    padding: 2em 0 0 15px;
  }
  .timeline {
    padding-left: 30px;
  }
  .timeline li.lock:before {
      content: url("../images/lock-mb.png");
      position: absolute;
      width: 40px !important;
      height: 40px !important;
      top: -1.2em;
      left: -1.3em;
  }
  .timeline li.pass:before {
      content: url("../images/pass-mb.png");
      position: absolute;
      width: 40px !important;
      height: 40px !important;
      top: -1.2em;
      left: -1.3em;
  }
  .timeline li.arrow:before {
      content: url("../images/arrow-mb.png");
      position: absolute;
      top: -1.2em;
      left: -1.3em;
  }
  .timeline-list li.firstitem {
    height: 220px;
  }
  .timeline ul li .content {
    top: -9.5em;
  }
  .timeline-list li.passline {
    border-left: 5.8px solid #ce202e
  }
  .timeline .passline{
    border-left: 5.8px solid #ce202e
  }
}
