<div class="dialog-widget dialog-lightbox-widget dialog-type-buttons dialog-type-lightbox elementor-popup-modal" id="elementor-popup-modal-24805" style="display: flex;">
  <div class="dialog-widget-content dialog-lightbox-widget-content animated">
    <div class="dialog-header dialog-lightbox-header"></div>
    <div class="dialog-message dialog-lightbox-message">
      <div data-elementor-type="popup" data-elementor-id="24805" class="elementor elementor-24805 elementor-location-popup" data-elementor-settings="{&quot;entrance_animation&quot;:&quot;slideInLeft&quot;,&quot;prevent_close_on_background_click&quot;:&quot;yes&quot;,&quot;prevent_close_on_esc_key&quot;:&quot;yes&quot;,&quot;entrance_animation_duration&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:1.2,&quot;sizes&quot;:[]},&quot;triggers&quot;:{&quot;page_load&quot;:&quot;yes&quot;,&quot;page_load_delay&quot;:0},&quot;timing&quot;:[]}" style="display: block;">
		<div class="elementor-section-wrap">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-1da0715a elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="1da0715a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7509078" data-id="7509078" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-b238233 elementor-shape-square elementor-grid-1 elementor-widget elementor-widget-social-icons" data-id="b238233" data-element_type="widget" data-widget_type="social-icons.default">
				<div class="elementor-widget-container">
					<div class="elementor-social-icons-wrapper elementor-grid">
							<div class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-8fc2cfe" href="https://web.facebook.com/GOFXthailand" target="_blank">
						<span class="elementor-screen-only">Facebook-f</span>
						<i class="fab fa-facebook-f"></i>					</a>
				</div>
							<div class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-line elementor-repeater-item-6691330" href="https://lin.ee/jcDe4w5" target="_blank">
						<span class="elementor-screen-only">Line</span>
						<i class="fab fa-line"></i>					</a>
				</div>
							<div class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-icon-youtube-v elementor-repeater-item-6b8c93c" href="https://www.youtube.com/channel/UCrKNDDHpE1hR3ibZCo6gEmg/featured" target="_blank">
						<span class="elementor-screen-only">Icon-youtube-v</span>
						<i class="fab fa-youtube"></i>					</a>
				</div>
							<div class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-88c2c89" href="https://www.instagram.com/gofx_thailand/?hl=th" target="_blank">
						<span class="elementor-screen-only">Instagram</span>
						<i class="fab fa-instagram"></i>					</a>
				</div>
							<div class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-003ab47" href="https://twitter.com/gofxthailand" target="_blank">
						<span class="elementor-screen-only">Twitter</span>
						<i class="fab fa-twitter"></i>					</a>
				</div>
					</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				</div>
		</div>
  </div>
  <div class="dialog-buttons-wrapper dialog-lightbox-buttons-wrapper"></div>
  <div class="dialog-close-button dialog-lightbox-close-button"><i class="eicon-close"></i></div>
</div>
</div>
